@using Microsoft.AspNetCore.Http

@{

    var vUser = Context.Session.GetInt32("_User");<!--Capturar la sesión en la variable vUser-->
}

<!--@@1 Final-->

<!DOCTYPE html>

<html>

<head>
    <!--<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewData["Title"]</title>-->
    @*Capturamos el titulo definido en el vista que corresponda (en este caso sera de la vista Index - LISTAR USUARIO)
        @@2 Inicio: Importamos la librería js jQuery y el css bootstrap*@

    <!--<link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Usuario.css" />-->




</head>

<body>
    <div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="row justify-content-center">

            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))

                    {

                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>

                    }

                </div>

                <!--@@3 Final-->

            </div>

        </div>

    </div>



    <div class="container body-content">

        @RenderBody()

        @*<hr />*@

        @*<footer class="row justify-content-center">

                <p>

                    © 2017 - @DateTime.Now.Year

                    <a href="http://www.hadsonpar.com/" target="_blank">HadsonPar</a> |

                    My LOGIN Application MVC ASP.Net Core 3.1

                </p>
                <div class="container">
                    &copy; 2021 - Final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)



    </div>

</body>

</html>
