@model Final.Models.Usuario

@{
    ViewData["Title"] = "Details";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.0" />
<meta name="viewport" content="width=device-width" />

<title>@ViewData["Title"]</title>
@*Capturamos el titulo definido en el vista que corresponda (en este caso sera de la vista Index - LISTAR USUARIO)
    @@2 Inicio: Importamos la librería js jQuery y el css bootstrap*@

<link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />

<script src="/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.esAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esAdmin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bloqueado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bloqueado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.num_usr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
