@model IEnumerable<Final.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.0" />
<meta name="viewport" content="width=device-width" />

<title>@ViewData["Title"]</title>
@*Capturamos el titulo definido en el vista que corresponda (en este caso sera de la vista Index - LISTAR USUARIO)
    @@2 Inicio: Importamos la librería js jQuery y el css bootstrap*@

<link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />

<script src="/lib/jquery/dist/jquery.min.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Final</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientos" asp-action="Index">Alojamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Reservas</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fdesde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fhasta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.propiedadint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.personaint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fdesde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fhasta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.propiedadint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.personaint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.pk">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.pk">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.pk">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
